/* ==================== Font Part Start ==================== */

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

/* ==================== Font Part End ==================== */

/* ==================== Common Css Part Start ==================== */

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,ol {
    padding: 0;
    margin: 0;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: var(--merienda);
}

:root {
    --merienda : "Merienda", cursive;
}

/* ==================== Common Css Part End ==================== */

/* ==================== Counter Limit Css Part Start ==================== */

#counter_limit {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

#counter_limit .container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

/* -- For Every Counter Box -- */
.selected_num {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgba(133, 220, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
    font-family: var(--merienda);
    color: #000000;
}

/* ==================== Counter Limit Css Part End ==================== */

/* ==================== Various Counter Css Part Start ==================== */

#various_counter {
    background-color: rgba(0, 0, 0, 0.2);
}

#various_counter .container {
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.counters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--merienda);
}

/* -- All The Box -- */
.normal_count, .click_count, .toggle_count, .dynamic_count, .continuous_count, .bigNumber_count {
    width: 300px;
    height: 200px;
    background-color: #fff7d2;
    border: 6px solid #dde2b3;
    border-radius: 20px;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: all linear 0.1s;
}

.click_count:active, .toggle_count:active {
    transform: translateY(5px);
    box-shadow: none;
}

/* -- Dynamic Count -- */
.dynamic_count {
    align-items: flex-start;
    gap: 20px;
}

.dynamic_count input {
    width: 80px;
    height: 40px;
    background-color: #a6b156;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--merienda);
    color: #fff;
    text-align: center;
}

.dynamic_count button {
    width: 60px;
    height: 40px;
    box-shadow: 2px 3px 2px ;
    background-color: #cbd485;
    position: absolute;
    transform: translateY(55px);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--merienda);
    cursor: pointer;
    transition: all linear 0.1s;
}

button:active {
    transform: translateY(60px);
    box-shadow: none;
}

.dynamic_resuilt {
    width: 200px;
    height: 70px;
    position: absolute;
    transform: translateY(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--merienda);
}

/* -- Dynamic Count Input Place-Holder -- */
::placeholder {
    color: #fff;
}

/* ==================== Various Counter Css Part End ==================== */
